@model TimesheetLaikas.Models.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Identity

@using TimesheetLaikas.Models
<body class="bg-light">
    <form asp-action="AddUser" role="form">

        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="~/images/West_Virginia_University_at_Parkersburg_seal.png" alt="" width="100" height="100    ">
                <h2>Employee Registration</h2>
                <p class="lead">Please fill out the information below to create an account for an employee.</p>
            </div>

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Employee Information</h4>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="EMP_FNAME">First Name</label>
                        <input asp-for="EMP_FNAME" class="form-control" id="firstName" placeholder="Employee First Name" value="" required>
                        <span asp-validation-for="EMP_FNAME" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="EMP_LNAME">Last Name</label>
                        <input asp-for="EMP_LNAME" class="form-control" id="lastName" placeholder="Employee Last Name" value="" required>
                        <span asp-validation-for="EMP_LNAME" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input asp-for="Email" class="form-control" id="email" placeholder="you@wvup.com">
                    </div>

                    @*<div class="col-md-6 mb-3">
                            <label asp-for="UserName" class="col-lg-3 col-sm-3 control-label"></label>

                            <input asp-for="UserName" class="form-control" />
                        </div>*@
                </div>

                <div class="mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input asp-for="ADDRESS" class="form-control" id="address" placeholder="300 Campus Drive" required>
                    <span asp-validation-for="ADDRESS" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CITY"></label>
                    <input asp-for="CITY" class="form-control" placeholder="Phone Number">
                    <span asp-validation-for="CITY" class="text-danger"></span>
                </div>

                
                    <div class="col-md-3 mb-3">
                        <label asp-for="ZIPCODE"></label>
                        <input asp-for="ZIPCODE" class="form-control" id="zip" placeholder="" required>
                    </div>
                    <span asp-validation-for="ZIPCODE" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="EMP_PHONE"></label>
                    <input asp-for="EMP_PHONE" class="form-control" placeholder="" required>
                    <span asp-validation-for="EMP_PHONE" class="text-danger"></span>
                </div>

                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="RoleId"></label>
                        <select asp-for="RoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                            <option>Please select</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Payrate"></label>
                        <input asp-for="Payrate" class="form-control" type="number" required>
                    </div>
                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">Register user information.</button>
            </div>
        </div>
    </form>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}