// ***********************************************************************
// Assembly         : TimesheetLaikas
// Author           : Donatas & Matt
// Created          : 12-06-2020
//
// Last Modified By : Donatas & Matt
// Last Modified On : 12-06-2020
// ***********************************************************************
// <copyright file="AccessDenied.cshtml" company="TimesheetLaikas">
    //     Copyright (c) HP Inc.. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>

    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p>Sorry, you do not currently have access to the site.<br />Please go back to the previous page to continue browsing, or log into an account with correct access priviledges.</p>
        <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
    </div>
</header>