// ***********************************************************************
// Assembly         : TimesheetLaikas
// Author           : Donatas & Matt
// Created          : 12-06-2020
//
// Last Modified By : Donatas & Matt
// Last Modified On : 12-06-2020
// ***********************************************************************
// <copyright file="ForgotPasswordConfirmation.cshtml" company="TimesheetLaikas">
    //     Copyright (c) HP Inc.. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>

