// ***********************************************************************
// Assembly         : TimesheetLaikas
// Author           : Donatas & Matt
// Created          : 12-06-2020
//
// Last Modified By : Donatas & Matt
// Last Modified On : 12-06-2020
// ***********************************************************************
// <copyright file="Lockout.cshtml" company="TimesheetLaikas">
    //     Copyright (c) HP Inc.. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
