@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body class="text-center">
    <div >
    <h2>@ViewData["Title"]</h2>
    <form class="form-signin" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in to your employee account.</h1>
        <input asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <label asp-for="Input.Password" class="sr-only">Password</label>
        <input asp-for="Input.Password" class="form-control" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p class="text-info">
                <u> Please contact your supervisor to get credentials on your employee account.</u>
            </p>
        </div>
    </form>
        </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}