// ***********************************************************************
// Assembly         : TimesheetLaikas
// Author           : Donatas & Matt
// Created          : 11-30-2020
//
// Last Modified By : Donatas & Matt
// Last Modified On : 12-02-2020
// ***********************************************************************
// <copyright file="Index.cshtml" company="TimesheetLaikas">
    //     Copyright (c) HP Inc.. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
